:root {
  --main-bg-color: #efefef;
  --dashboard-bg-color: white;
  --dashboard-box-shadow: rgba(100,100,100,0.3);
}

html, body {
  background-color: var(--main-bg-color);
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100%;
}